.scorecard {
	display: flex;
	justify-content: space-between;
	
}

.hole {

  &-number {

  }
}

input {
  // width: 4em;
}

.front-nine-total,
.back-nine-total,
.score-combined {
  font-size: 3em;
  font-weight: bolder;
}
