// Wrap
@mixin wrap($width: $wrap, $max-width: auto) {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: $wrap-mobile;
  } // End Phone & Below
}

.wrap {
  @include wrap($wrap, 84em);
}

// Flex
@mixin flexible($justify: center, $align: center, $direction: "") {
  display: flex;
  justify-content: $justify;
  align-items: $align;

  @if $direction != "" {
    flex-direction: $direction;
  }
}

// Animate
@mixin animate($element: all, $time: 0.2s, $effect: ease-in-out) {
  // @include browser-prefix(transition, $element $time $effect);
}
